<ul>
  <% @plots.each do |plot| %>
    <li>
      <div>
        <%= link_to plot.name, world_plot_path(@world, plot) %>
        <div><%= plot.description %></div>
      </div>
    </li>
  <% end %>
</ul>

<%= link_to 'New', new_world_plot_path(@world) %>
