<ul>
	<% @characters.each do |c| %>
		<li>
			<%= link_to c.name, world_character_path(@world, c) %>
			<%= c.brief %>
		</li>
	<% end %>
</ul>

<%= link_to 'New', new_world_character_path(@world) %>
