// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: rgba(13, 43, 13, 0.88);
}

.main-content {
	width: 980px;
	margin: 50px auto;
	min-height: 600px;
	background-color: #fffad8;
	border-radius: 7px;
	padding: 30px;
}

header {
	margin-bottom: 30px;
}

section {
	border-bottom: 1px #ccc solid;
	padding: 15px 0 40px;
}

.left {
	width: 60%;
	float: left;
}

.right {
	width: 40%;
	float: left;
	padding: 0 30px;
	box-sizing: border-box;
}